name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build
        uses: docker/build-push-action@v2
        with:
          tags: bot:latest
          push: false
      -
        name: Clean up
        run: |
          ids=$(docker ps -aqf "ancestor=bot")
          for id in $ids
          do
           echo "$id"
           docker stop $id && docker rm $id
          done
      -
        name: Run
        uses: addnab/docker-run-action@v3
        with:
          image: bot:latest
          options: -d -e BOT_TOKEN=${{secrets.BOT_TOKEN}} -v ${{secrets.DB_DIR}}:/app/db
          run: node dist/App.js
